<center><%= link_to image_tag("JobForChange_logo180px.png", alt: "JFC") %></center>

<center>
	
	<h1></h1>
	<h3>Version bêta à venir : inscrivez-vous !</h3>
	<h5>
		<br>
	<h4>
Avoir un emploi, des missions qui ont du sens ? Contribuer à changer le monde tout en travaillant ? 
Entreprendre, collaborer pour l’intérêt général ou pousser l’innovation ?</h4>

<h4>ONG, associations, développement durable, ESS (Economie Sociale et Solidaire), économie collaborative, innovation sociale, start-ups, RSE (Responsabilité Sociétale des Entreprises) …
La communauté de ceux qui font bouger les lignes en travaillant
et les meilleures offres au même endroit.</h4>


<hr>
	
	<div class="row">
		
			<div class="span6">
				<form class="form-inline" role="form" method="post" action="<%= add_new_candidat_path %>">
			<div class= "well">
				<div class="form-group">
					<h3>Je suis intéressé(e) pour postuler</h3>
						<input type="email" class="form-control" id="InputEmail" name="email" placeholder="Enter email" >
						<input type="submit" class="btn btn-warning"value="Inscrivez-vous">
						
				</div>
			</div>
				</form>
			</div>
		
		
			<div class="span6">
				<form class="form-inline" role="form" method="post" action="<%=add_new_entreprise_path%>">
			<div class= "well">
				<div class="form-group">
					<h3>Je suis intéressé(e) pour proposer une offre</h3>
						<input type="email" class="form-control" id="InputEmail2" placeholder="Enter email">
						<input type="submit" class="btn btn-warning"value="Inscrivez-vous">
				</div>
			</div>
			</form>
			</div>
		
	</div>

	
</h5>
		
</h5>
</center>