<center><%= link_to image_tag("JobForChange_logo180px.png", alt: "JFC") %></center>

<center>
	
	<h1></h1>
	<h3>Version bêta à venir : inscrivez-vous !</h3>
	<h5>
		<br>
	<h4>
Avoir un emploi, des missions qui ont du sens ? Contribuer à changer le monde tout en travaillant ? 
Entreprendre, collaborer pour l’intérêt général ou pousser l’innovation ?</h4>

<h4>ONG, associations, développement durable, ESS (Economie Sociale et Solidaire), économie collaborative, innovation sociale, start-ups, RSE (Responsabilité Sociétale des Entreprises) …
Le jobboard de ceux qui travaillent à changer le monde 
et les meilleures offres au même endroit !</h4>


<hr>
	
	<div class="row">
		
			<div class="span6">
				<form class="form-inline" role="form" method="post" action="<%= add_new_candidat_path %>">
			<div class= "well">
				<div class="form-group">
					<h3>Je suis intéressé(e) pour postuler</h3>
					<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://jobforchange.us3.list-manage2.com/subscribe/post?u=1c68308f9ae9009c06dadcfc9&amp;id=a9cba011b1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c68308f9ae9009c06dadcfc9_a9cba011b1" value=""></div>
	<div class="clear"><input type="submit" value="Inscrivez-vous" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
								
				</div>
			</div>
				</form>
			</div>
		
		
			<div class="span6">
				<form class="form-inline" role="form" method="post" action="<%=add_new_entreprise_path%>">
			<div class= "well">
				<div class="form-group">
					<h3>Je suis intéressé(e) pour proposer une offre</h3>
						<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://jobforchange.us3.list-manage1.com/subscribe/post?u=1c68308f9ae9009c06dadcfc9&amp;id=c56f5a1080" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c68308f9ae9009c06dadcfc9_c56f5a1080" value=""></div>
	<div class="clear"><input type="submit" value="Inscrivez-vous" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
				</div>
			</div>
			</form>
			</div>
		
	</div>

	
</h5>
		
</h5>
</center>