<%= link_to image_tag("JobForChange_logo180px.png", alt: "JFC") %>
<center>
	
	<h1></h1>
	<h3>Version bêta à venir : inscrivez-vous !</h3>
	<h5>
		<br>
	<h4>
		Job for change :

Avoir un emploi, des missions qui ont du sens ? Contribuer à changer le monde tout en travaillant ? Entreprendre, collaborer pour l’intérêt général ou pousser l’innovation ?</h4>

<h4>ONG, associations, développement durable, ESS (Economie Sociale et Solidaire), économie collaborative, innovation sociale, start-ups, RSE (Responsabilité Sociétale des Entreprises) …
La communauté de ceux qui font bouger les lignes en travaillant
et les meilleures offres au même endroit.</h4>


<hr>

	
	<div class="centred">
		<div class="well">
			<h3>Je suis intéressé(e) pour postuler aux offres.</h3>
			<a href="<%= new_invitation_path %>" class="btn btn-success btn-large">Inscrivez-vous</a>
		</div>
	</div>
	</div>
	
	</h5>
		
		<hr>
	
	</h5>
</center>