<%= link_to image_tag("JobForChange_logo180px.png", alt: "JFC") %>
<center>
	
	<h1></h1>
	<h3>Version bêta à venir : inscrivez-vous !</h3>
	<h5>
		<br>
	<h4>


Avoir un emploi, des missions qui ont du sens ? Contribuer à changer le monde tout en travaillant ? Entreprendre, collaborer pour l’intérêt général ou pousser l’innovation ?</h4>

<h4>ONG, associations, développement durable, ESS (Economie Sociale et Solidaire), économie collaborative, innovation sociale, start-ups, RSE (Responsabilité Sociétale des Entreprises) …
La communauté de ceux qui font bouger les lignes en travaillant
et les meilleures offres au même endroit.</h4>


<hr>
	
	<div class="row">
		<form class="form-inline" role="form">
		<div class="span6">
			<div class= "well">
		<div class="form-group">
			<h3>Je suis intéressé(e) pour postuler.</h3>
			<input type="email" class="form-control" id="InputEmail2" placeholder="Enter email">
			<button class="btn btn-warning" type="button">Inscrivez-vous</button>
		</div>
	</div>
	</div>


		<div class="span6">
			<div class= "well">
		<div class="form-group">
			<h3>Je suis intéressé(e) pour proposer une offre.</h3>
			<input type="email" class="form-control" id="InputEmail2" placeholder="Enter email">
			<button class="btn btn-warning" type="button">Inscrivez-vous</button>
		</div>
	</div>
	</div>
	</f
</form>

	
	</h5>
		
	</h5>
</center>