<center>
	<section><div class="fb-share-button" data-href="http://jobforchange.org" data-type="button"></div>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	    <a href="https://twitter.com/share" class="twitter-share-button"data-url="none" data-text="Inscrivez-vous pour la future ouverture jobforchange.org #emploi + #RSE #ESS #DD #ONG #startup #collcons #socent"data-count="none" data-via="jobforchange"-lang="en">Tweet</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 <!-- 	<%=link_to image_tag("linkedin.png",alt:"linkeind") %> -->
<!-- 	<%=link_to image_tag("google_plus.png",alt:"Google+") %> -->

	<!-- AddThis Button BEGIN -->
	<center>
<div class="addthis_toolbox addthis_default_style addthis_32x32_style"></center>
<a class="addthis_button_viadeo"></a>
<a class="addthis_button_linkedin" ></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52cc041845b2d799"></script>
<!-- AddThis Button END -->

</section>
<hr>
<center>

