<center>
	<section><div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button"></div>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Inscrivez-vous pour la future ouverture jobforchange.org #emploi + #RSE #ESS #DD #ONG #startup #collcons #socent"data-count="none" data-via="jobforchange"-lang="en">Tweet</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 <!-- 	<%=link_to image_tag("linkedin.png",alt:"linkeind") %> -->
<!-- 	<%=link_to image_tag("google_plus.png",alt:"Google+") %> -->
</section>
<hr>
<center>